.entity-rectangle {
    width:100%; 
    height: 100%; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

a.entity-rectangle:hover h5 {
    text-decoration: underline; /* Garante que o texto esteja sublinhado */
    text-decoration-color: white; /* Define a cor do sublinhado como branca */
  }

.entity-icon {
    width: 20%; 
    margin-bottom: 15px; 
    filter: invert(90%);
}

#content-full {
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin-bottom: 1rem;
    /* height: 330px; */
}

#presentation-video {
    /* background-color: #fff;  */
    border: 1px solid #ced4da; 
    border-radius: .25rem; 
    margin-bottom: 1rem;
    min-height: 392px;
}


/* Efeito hover */
.zoom {
    transition: transform 0.3s ease; /* Animação suave */
}

.zoom:hover {
    transform: scale(1.1); /* Aumenta a imagem em 20% */
}

  
